<h2>Show job</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= Poison.encode!(@job.description, pretty: true) %>
  </li>

</ul>

<%= link "Edit", to: job_path(@conn, :edit, @job) %>
<%= link "Back", to: job_path(@conn, :index) %>
